server {
        listen 80;

        # SET YOUR PATH TO ROOT DIRECTORY OF EVENT CALENDAR
        root /var/www/events;
        index index.php;
        server_name events;
        charset         utf-8;

        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
                expires max;
                log_not_found off;
        }

        location /back/ {
                rewrite ^(.*)/?$ /index.php?page=back last;
        }
        location / {
                rewrite ^(.*)/?$ /index.php?page=front last;
        }

        location ~ \.php {
                fastcgi_param SCRIPT_FILENAME   $document_root$fastcgi_script_name;

                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass    unix:/var/run/php5-fpm.sock;
                fastcgi_index   index.php;
                include         fastcgi_params;
        }

}
